<%= stylesheet_link_tag "card" %>

<div>
  <div
    class="<%= class_names('card-container-white': locals[:type] == 'white', 'card-container-color': locals[:type] == 'color') %>"
  >
    <h2><%= locals[:title] %></h2>
    <div class="card-content">
      <p><%= locals[:text] %></p>
    </div>

  </div>
</div>
