.card-container-white {
    padding: 3em 2em;
}

.card-container-color {
    background-image: linear-gradient(to top right, #ff003c, #ff4d00);
    border-radius: 56px;
    color: #ffffff;
    margin: 2em 1em;
    padding: 3em;
    box-shadow: 10px 10px 22px #db000047;

}

.card-outer {
    display: flex;
    justify-content: center;
}


.card-content {
    display: flex;
}