.card-container-top {
    padding: 3em 1em;
}

.card-container-middle {
    background-image: linear-gradient(to top right, #ff003c, #ff4d00);
    border-radius: 56px;
    color: #ffffff;
    margin: 2em 0;
    padding: 3em;
    box-shadow: 10px 10px 22px #db000047;

}

.card-container-bottom {
    color: #000000;
    padding: 3em 1em;
}


.card-outer {
    display: flex;
    justify-content: center;
}


.card-content {
    display: flex;
}