.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
    max-width: 60em;
}


.blob {
    width: 50%;
    height: 50%;
    padding: calc(1.375rem + 1.5vw);

}